.mem-invalid
{
    color: red;
}
.mem-valid
{
    color: black;
}

.select-wrapper {
  height: 50px;
  overflow-y: visible;
}

button[disabled] {
        border: 1px solid black;
        color: grey;
        cursor: not-allowed;
    }

.button {
    background-color: white; /* Green */
    border: none;
    color: #000;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.button-orange { background-color: orange; }
.button-green { background-color: green; }
.button-gray { background-color: lightgray; }
.button-red { background-color: rgb(243, 89, 89); }

table, td, th
{
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

/*table {
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid black;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }
*/

div.fixed {
	position: fixed;
	padding: 0px;
	top: 70px;
	right: 20px;
}

.stat_table td
{
    background-color: white;
    padding: 5px; !important;
    border-spacing: 0px; !important;
    border: 0px solid black;
    text-align: center;
}

.mem_table th
{
    background-color: darkgray;
    padding: 5px; !important;
    border-spacing: 0px; !important;
    border: 1px solid gray;
    text-align: center;
}

.mem_table td 
{
    padding: 1px; !important;
    border-spacing: 0px; !important;
    border: 1px solid gray;
    background-color: lightgray;
	text-align: center;
	vertical-align: middle;
}

input {
    background-color: #00FF00;
}

select {
    appearance: none;
    outline: 0;
    background: white;
    background-image: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.fbd-header
{
    background-color: darkgray;
    color: #000;
}

.fbd-body
{
    background-color: lightgray;

}

.fbd-body-green
{
    background-color: limegreen;

}

.fbd-header-green
{
    background-color: #229b57;
    color: #000;
}

.fbd-empty
{
    background-color: white;
}

.var-desc{
    color: blue;
}

html *
{
   font-size: medium !important;
   color: #000;
   background-color: #fff;
   font-family: Lucida Console !important;
}

.hr-normal {
  border: 1px solid lightgray;
}

.hr-green {
  border: 1px solid limegreen;
}

img { vertical-align:bottom; background-color: transparent;}

/*Tooltip Begin*/
.tooltip {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: orange;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent orange transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*Tooltip End*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid gray;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: lightgray;
}

input:focus + .slider {
  box-shadow: 0 0 0px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Slider Ends*/

.dot_gray {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.dot_green {
	height: 25px;
	width: 25px;
	background-color: lime;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid black;
}